
<section>
    <div class="container">
    <div class="row">
         </div>
  <div class="container-fluid">
    <table id="sam" class="table table-striped mt-5">
      <thead>
        <tr>
          <th scope="col">image</th>
          <th scope="col">productName</th>
          <th scope="col">price</th> 
          <th scope="col">category</th>
          <th scope="col">Qty</th>
          <th class="text-center" scope="col">status</th> 
           <th class="text-center" scope="col">Edit</th>
          {{!-- <th class="text-center" scope="col">Remove</th>  --}}
        </tr>
      </thead>
      <tbody>
        {{#each productData}}
        <tr>
        <td><img style="width: 90px; height: 90px;" src="/productImages/{{image.[0]}}" alt=""></td>
          <td>{{productName}}</td>
          <td>{{price}}</td>
          <td>{{category.categoryName}}</td>
          <td>{{quantity}}</td>
          {{#if status}}
          <td class="text-center"><a onclick="return confirm('Do You Want To Delete This Product ')" class="text-danger" href="/unlistProduct?id={{_id}}"><button type="button" class="btn btn-danger">list</button></a></td>
          {{else}}
          <td class="text-center"><a onclick="return confirm('Do You Want To Delete This Product ')" class="text-success" href="/listProduct?id={{_id}}"><button type="button" class="btn btn-success">un list</button></a></td>
          {{/if}}
          <td class="text-center"><a href="/editproduct?id={{_id}}"><i class="fa fa-light fa-user-pen"></i></a></td>
          {{!-- <td class="text-center"><a onclick="return confirm('Do You Want To Delete This Product ')" class="text-danger " href="/deleteProduct?id={{_id}}"><i class="fa fa-light fa-trash"></i></a></td> --}}
        </tr>
       {{/each}}
      </tbody>
    </table>
  </div>
  </div>
</section>



<!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
          $(document).ready(function() {
            $('#sam').DataTable();
          });
        </script>



